body {
    color: lightgrey;
    background-color: #181818;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

#preface{
    text-align:right;
    font-style: italic;
    margin-right: 15px;
}

#presentation{
    text-align:center;
    font-weight:bold;
    font-size:xx-large;
}

#mainbody {
    text-align: center;
}

#text{
    size:100%;
}

.stop {
    text-align: center;
    font-style: italic;
}

.backgroundImage{
    background-size: 100%;
    width: 100%;
    height: 920px;
    
}
